<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- wp:group {"align":"full","className":"is-style-purple","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull is-style-purple">
		<!-- wp:paragraph --><p><a href="/">← Home</a></p><!-- /wp:paragraph -->
		<!-- wp:paragraph {"className":"is-style-eyebrow"} --><p class="is-style-eyebrow">Section</p><!-- /wp:paragraph -->
		<!-- wp:post-title {"level":1} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
